* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background: #F8F4FC;
}

body {
    font-family: "Raleway", "Tahoma", sans-serif;
    font-weight: 500;
    color: #354657;
}

.wrapper {
    max-width: 1310px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

.logo {
    display: block;
    margin: 11px 90px 16px 0;
}

.main_menu {
    display: flex;
    list-style-type: none;
    font-weight: 700;
    align-items: center;
    padding: 0;
}

.main_menu li {
    margin-right: 50px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    margin-left: 34px;
}

.bread_crumbs {
    display: flex;
    text-align: center;
}

.bread_crumbs p {
    font-family: inherit;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.bread_crumbs img {
    margin: 10px;
    padding-top: 1px;
}

.footer {
    display: flex;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    list-style-type: none;
    font-weight: 700;
    align-items: center;
    padding: 0;
}

.footer-menu li {
    margin-right: 40px;
}

.icons-footer {
    display: flex;
    align-items: center;
}

.icons-footer img {
    margin-left: 17px;
}

.h1 {
    font-weight: 700;
    color: #354657;
    margin: 70px 0 48px 0;
}

.h1::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    display: block;
    margin-top: 18px;
}

.entrance {
    background-color: #F0F2F5;
    height: 113px;
    width: 384px;
    margin: 0 30px 30px 0;
    padding: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.input1 {
    position: absolute;
    left: 0;
    top: 0;
}

.input1:checked+.form-span::before {
    display: block;
}

.form-span {
    margin: 25px;
}

.form-span::after {
    content: '';
    border: 1px solid #946FD3;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.form-span::before {
    display: none;
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 11px;
    height: 11px;
    background-color: #946FD3;
    border-radius: 50%;
    z-index: 2;
}


h2 {
    font-weight: 700;
    color: #354657;
    margin-bottom: 20px;
    font-size: 20px;
}

.lable1 {
    margin: 1px 1px 1px 1px;
    position: relative;
}

.delivery {
    background-color: #F0F2F5;
    height: 113px;
    width: 874px;
    padding: 20px;
}

.payment {
    background-color: #F0F2F5;
    height: 113px;
    width: 874px;
    padding: 20px;
    /* margin: 0 0 30px 0; */
}

.data-user {
    height: 818px;
    width: 384px;
    background-color: #F0F2F5;
    padding: 20px;
    margin: 0 30px 30px 0;
}

.data-user span {
    font-weight: 400;
    font-size: 14px;
    margin: 20px 0 12px 0;
    display: block;
}

.data-user input {
    width: 344px;
    height: 38px;
    color: #ADA8A8;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #B6B6B6;
}

.data-del {
    margin: 30px 0 0 0;
}

.box1 {
    height: 650px;
    width: 875px;
}

.basket {
    width: 874px;
    height: 41px;
    background: #F0F2F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.product {
    display: flex;
    align-items: center;
    width: 874px;
    height: 58px;
    justify-content: space-around;
}

.product input {
    width: 47px;
    height: 33px;
}

.product img {
    margin-left: 30px;
}

.number {
    display: flex;
    align-items: center;
}

.number img {
    margin: 5px;
}

.total {
    width: 338px;
    height: 141px;
    margin: 20px 0 30px 537px;
}

.total p {
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.total span {
    margin: 0 15px;
}

.upper {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.del-para {
    background: #FAFAFA;
}

.coment {
    background-color: #F0F2F5;
    width: 874px;
    height: 318px;
    padding: 20px;
}

#text-coment {
    width: 834px;
    height: 86px;
    border-radius: 3px;
    border: 1px solid #B6B6B6;
    margin: 10px 0 10px 0;
    color: #ADA8A8;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #B6B6B6;
}

.btn {
    width: 206px;
    height: 54px;
    background: #946FD3;
    border-radius: 50px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    color: white;
    margin: 30px 0 0 600px;
}

.coment label {
    display: block;
}

.label-check {
    position: relative;
}

.input-check {
    position: absolute;
    left: 0;
    top: 0;
}


.input-check:checked+.span-check::before {
    display: block;
}

.span-check {
    margin: 25px;
}

.span-check::after {
    content: '';
    border: 1px solid #946FD3;
    height: 17px;
    width: 17px;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.span-check::before {
    display: none;
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 18px;
    height: 16px;
    background-image: url(../img/check_mark.svg);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}





.row1 {
    display: flex;
}

.row-main {
    display: flex;
}

.basket {
    display: flex;
}

.product {
    display: flex;
}